
.dashboard-body
  margin: 0 25px 0

.edit-title
  display: grid
  grid-template-columns: 1fr max-content
  align-items: center

  .title
    width: 100%
    text-align: center

  .save
    justify-self: end
    padding: 3px 10px
    border: none
    color: $white
    background-color: $need-blue-text

.divvy-group
  display: grid
  grid-template-columns: repeat(3, max-content)
  grid-column-gap: 10px
  align-items: center

.wn-headers
  display: grid
  grid-template-columns: repeat(2, max-content)
  grid-column-gap: 10px
  align-items: center

.wants-group
  display: grid
  grid-template-columns: repeat(5, 1fr)
  grid-gap: 25px
  
.want-card
  display: block
  height: max-content
  width: max-content
  box-sizing: border-box
  border: 1px solid transparent
  filter: drop-shadow(0 10px 4px rgba(0, 0, 0, .3))

  &:hover
    border: 1px solid $want-green-bg

.want-image
  display: block
  position: relative
  height: 124px
  width: 220px

  > .container
    height: 100%
    width: 100%
    filter: brightness(70%)

  > .percent
    position: absolute
    top: 50%
    left: 50%
    width: max-content
    transform: translate(-50%, -50%)
    align-content: center
    align-items: center
    color: $white

    > .text
      display: inline-block
      position: relative
      margin: 0 0 0 25px
      font: bold $xl sans-serif

    > .symbol
      display: inline
      position: relative
      padding-left: 4px
      margin: 0 20px 0 0
      vertical-align: 50%
      font: bold $m sans-serif

    > .angleleft, .angleright
      // margin: 0 10px
      font-size: $l

  
  > .name
    position: absolute
    margin: 0
    left: 15px
    bottom: 10px
    letter-spacing: 1px
    font: normal $m sans-serif
    text-transform: capitalize
    color: $white

.want-meta
  display: grid
  grid-auto-flow: column
  grid-template-columns: repeat(3, auto-fit)
  align-items: center
  justify-items: center
  text-align: center
  color: $want-green-text
  background-color: $want-green-bg

  > .goal
    > h3
      margin: 20px 0 5px
      text-transform: uppercase
      font: normal $s sans-serif

    > p
      margin: 0 0 25px
      font: 500 $l sans-serif

  > .progress
    > h3
      margin: 20px 0 5px
      text-transform: uppercase
      font: normal $s sans-serif

    > p
      margin: 0 0 25px
      font: 500 $l sans-serif

  .dollar-symbol
    vertical-align: 20%
    padding-right: 3px
    font-size: $m