a
  text-decoration: none
  color: black

.nav-header
  display: flex
  justify-content: center
  align-items: center
  margin: 15px 25px 0

  .seam, .seam-sm
    margin-left: 10px
    color: $want-green-text
    font: normal $l 'Salsa', sans-serif

  .alerts

  .logout

.search-group
  position: relative
  margin: 0 auto
  width: max-content

  .icon
    top: 5px
    left: 10px
    position: absolute
  
  .input
    padding-left: 35px
    border: none



.navbar-toggle
  display: inline-block
  border: none
  height: 17px
  width: 22px
  padding: 0
  outline: none
  background-color: transparent


@media (min-width: 800px)
  .bars, .seam-sm
    display: none