.remaining-points
  margin: 0
  text-align: center



.modal_header
  display: grid
  grid-template-columns: 1fr 1fr

  .title
    justify-self: start
    margin: 0
  
  .close
    justify-self: end
    color: $grey
    &:hover
      color: $darkgrey


.input-group
  display: grid
  position: relative
  width: 100%
  margin-top: 10px

  // common
  input, textarea
    padding: 5px 15px
    border: none
    color: $titlegrey
    background-color: $lightgrey

  > .title
    justify-self: start
    margin-bottom: 5px
    text-transform: uppercase
    letter-spacing: .8px
    color: $titlegrey

  > .percent
    padding-left: 15px
    width: 70px
    -moz-appearance:textfield
    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button
      -webkit-appearance: none
      margin: 0

  > .description
    height: 100px
    resize: none

  > .percent-symbol
    position: absolute
    top: 35px
    right: 25px

  > .dollar-symbol
    position: absolute
    top: 35px
    left: 10px

  // wants
  > .goal
    padding-left: 25px

  > .upload
    justify-self: center
    margin-bottom: 10px

  // needs
  > .method
    height: 32px
    border: 0
    outline: 1px inset $lightgrey
    outline-offset: -1px
    background: none

  > .payment
    padding-left: 25px

  > .upload
    justify-self: center
    margin-bottom: 10px
    background: none
