.sidebar
  display: flex
  flex-direction: column
  position: relative
  align-items: space-between
  width: 200px
  padding: 25px
  height: 100%
  background-color: lighten(black, 15%)
  color: white
  border: 1px solid red

  > .seam
    text-align: center
    color: $white
    font: normal $l 'Salsa', sans-serif

  > hr
    margin: 30px 0 20px
    height: .1px
    width: 100%
    background-color: $white

.sidebar-group
  display: grid
  justify-items: center

  > .title
    margin: 20px 0 5px
    text-align: center
    text-transform: uppercase
    font: 600 $s Amiko, Helvetica, sans-serif
    color: $grey

  > .details
    margin: 0
    font: 600 $l Amiko, Helvetica, sans-serif


.account-headers
  > .title
    text-align: center
    text-transform: uppercase
    font: 600 $s Amiko, Helvetica, sans-serif
    color: $grey

  > .button
    display: flex
    align-items: center
    justify-content: center
    width: stretch
    margin: 15px 0
    border: none
    color: $white
    &:hover
      transition: 300ms
      filter: brightness(70%)

    &.-green
      background-color: $want-green-text
      // &:hover
      //   background-color: $want-green-text

    &.-blue
      margin-bottom: 20px
      background-color: $need-blue-text
      // &:hover
      //   background-color: $need-blue-text

    > .symbol
      margin: 0 10px 2px 0

    > .text
      width: max-content
      font: 600 $m Amiko, Helvetica, sans-serif

.control-headers
  display: grid
  grid-template-columns: repeat(2, 80px)
  margin-bottom: 20px

  > .title
    text-align: center
    text-transform: uppercase
    font: 600 $s Amiko, Helvetica, sans-serif
    color: $grey

    &:hover
      cursor: pointer

    &.-active
      justify-self: center
      padding-bottom: 5px
      width: max-content
      border: 2px solid $white
      border-width: 0 0 1px 0
      color: $white

  > .title:not(.-active):hover
    transition: 300ms
    color: lighten($grey, 15%)

.adjust-icons
  display: grid
  grid-template-columns: repeat(3, 1fr)
  justify-items: center
  width: 100%

  > .icon
    width: 30px
    &:hover
      cursor: pointer
      transition: 300ms
      filter: brightness(70%)

  > .dollar
    justify-self: start
    margin-left: -5px
    width: 20px

  > .cart
    margin-right: 20px

  > .settings
    justify-self: end

.delete-icons
  display: grid
  grid-template-columns: repeat(3, 1fr)
  justify-items: center
  width: 100%

  > .icon
    width: 30px
    &:hover
      cursor: pointer
      transition: 300ms
      filter: brightness(60%)

  > .boxes
    justify-self: start

  > .eraser
    margin-right: 5px

  > .trash
    justify-self: end