*
  box-sizing: border-box

html
  font-size: 62.5%

body
  color: $darkgrey
  font-family: Helvetica, Arial, sans-serif
  font-size: $m
  line-height: 1.6

.main-body
  margin: 0 25px 0 75px

button
  cursor: pointer

button:disabled
  cursor: default

.is-active
  font-weight: bold
