// Colors

$lightgrey: #f0f0f0
$grey: #8c8c8c
$darkgrey: #333
$blue: #1c88bf
$dark-blue: #364051
$off-white: #f7f7f7

$white: #fff
$want-green-bg: #d6ffe7
$want-green-text: #27ae60

$need-blue-bg: #d6f0ff
$need-blue-text: #2d9cdb

$delete-red-bg: #e87c7c

// Font Size
$font-size-large: 1.8rem
$font-size-small: 1.4rem

// Spacing
$s: 1.2rem
$m: 1.6rem
$l: 3.2rem
$xl: 4.8rem
$desktop-breakpoint: 45rem
