// Colors

$headergrey: #4f4f4f
$titlegrey: #828282
$darkgrey: #333
$grey: #8c8c8c
$lightgrey: #f0f0f0
$off-white: #f7f7f7
$white: #fff

$blue: #1c88bf
$dark-blue: #364051

$want-green-bg: #6FCF97
$want-green-text: #27ae60

$need-blue-bg: #d6f0ff
$need-blue-text: #2d9cdb

$delete-red-bg: #e87c7c

// Font Size
$font-size-large: 1.8rem
$font-size-small: 1.4rem

// Spacing
$s: 1.2rem
$m: 1.6rem
$l: 3.2rem
$xl: 4.8rem
$desktop-breakpoint: 45rem
